.section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
}

.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	color: #3E3E3E;
}

.description {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #323232;
}

.text {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
}

#introduction {
	background: linear-gradient(264.85deg, #FF5500 28.54%, rgba(255, 255, 255, 0) 86.88%), #6666FF;
	width: 100%;
	height: 400px;
	text-align: center;
}

.introduction {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	width: 700px;
}

#introductionTitle {
	margin-top: auto;
	font-size: 48px;
}

#introductionDescription {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	margin-top: 12px;
	margin-bottom: auto;
}

.sectionContainer {
	width: 47%;
	height: 160px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 0px 20px 20px 0px;
	text-align: right;
	padding-right: 30px;
	box-sizing: border-box;
	margin-right: 80px;
}

.sectionContainerRight {
	width: 47%;
	height: 154px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 20px 0px 0px 20px;
	text-align: left;
	padding-left: 30px;
	box-sizing: border-box;
	margin-left: 80px;
}

.sectionContainerHeader {
	margin-top: auto;
}

.sectionContainerDescription {
	margin-bottom: auto;
}

.sectionContainerText {
	width: 50%;
	max-width: 520px;
	margin-right: auto;
	text-align: justify;
}

.sectionContainerTextRight {
	width: 50%;
	max-width: 520px;
	margin-left: auto;
	text-align: justify;
}

.sectionContainer img {
	position: relative;
	margin-left: auto;
	margin-right: 30px;
	bottom: 60px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sectionContainerRight img {
	position: relative;
	margin-left: 30px;
	margin-right: auto;
	bottom: 60px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#whatButton {
	margin-top: 16px;
	margin-left: auto;
	display: none; /*Temporarily hidden*/
}

#whyButton {
	margin-top: 16px;
	width: 130px;
}

#sectionFour {
	max-width: 850px;
	align-items: flex-start;
}

#sectionFourDescription {
	margin-block: 20px;
}
