.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	color: #3E3E3E;
}

#sectionOne {
	background: linear-gradient(264.85deg, #FF5500 28.54%, rgba(255, 255, 255, 0) 86.88%), #6666FF;
	width: 100%;
	height: 400px;
}

#sectionOne {
	text-align: center;
}

.sectionOne {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
}

#sectionOneTitle {
	margin-top: auto;
	font-size: 48px;
}

#sectionOneDescription {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	margin-top: 12px;
	margin-bottom: auto;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #323232;
}

#join {
	width: 47%;
	height: 154px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 0px 20px 20px 0px;
	text-align: right;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	padding-right: 30px;
	box-sizing: border-box;
	margin-right: 80px;
}

#joinHeader {
	margin-top: auto;
}

#joinDescription {
	margin-bottom: auto;
}

#joinText {
	width: 50%;
	max-width: 520px;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
	margin-right: auto;
}

#sectionThreeHeader {
	margin-bottom: 50px;
}

.sectionThreeContainer {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.015em;
	color: #323232;
	margin-bottom: 38px;
}

.sectionThreeContainerTitle {
	text-align: right;
	width: 20%;
}

.sectionThreeForm {
	width: 640px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 20px;
	margin-left: 42px;
	padding-inline: 36px;
	padding-top: 25px;
	padding-bottom: 42px;
	box-sizing: border-box;
}

input, label {
    display: block;
}

.sectionThreeForm label {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
	margin-bottom: 8px;
}

.sectionThreeForm div + div {
	margin-top: 20px;
}

.sectionThreeForm input, textarea {
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #969696;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.015em;
	color: #646464;
	padding-inline: 15px;
}

.selector {
	width: 100%;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
}

.selector select {
	margin-top: 8px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #969696;
	box-sizing: border-box;
	border-radius: 5px;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.015em;
	color: #646464;
	padding-inline: 15px;
	display: flex;
	align-items: center;
}

#companyDescription {
	align-items: top;
	min-height: 100px;
	padding-block: 8px;
}



.blue {
	color: #0000FF;
}

#companyAttachmentContainer {
	height: 170px;
	background: #FFFFFF;
	border: 1px solid #969696;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.015em;
	color: #969696;
}

#companyAttachmentText {
	margin-block: auto;;
}