#sectionOne {
	margin-top: 50px;
	margin-bottom: 50px;
}

.blank50 {
	width: 50%;
}

#sectionOneText {
	width: 60%;
	z-index: 2;
}

.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	color: #3E3E3E;
}

.subtitle {
	margin-top: 20px;
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.015em;
	color: #3E3E3E;
}

#sectionOneDescription {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.015em;
	color: #0000FF;
}

#introductionF {
	background: url("../assets/website/f.svg") no-repeat;
	width: 38%;
	height: 650px;
	z-index: 1;
	position: absolute;
}

#sectionTwo {
	background: linear-gradient(264.85deg, #FF5500 28.54%, rgba(255, 255, 255, 0) 86.88%), #6666FF;
	width: 100%;
	height: 484px;
}

#sectionTwo {
	text-align: center;
}

.sectionTwo {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	width: 700px;
}

#sectionTwoTitle {
	margin-top: auto;
	font-size: 48px;
}

#sectionTwoDescription {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	margin-top: 12px;
}

#subscribe {
	width: 500px;
	height: 45px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-top: 58px;
	margin-bottom: auto;
}

.textboxText {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.12px;
	color: #C8C8C8;
	border: none;
	flex: auto;
	margin-inline: 8px;
	outline: none;
}

#subscribeButton {
	width: 138px;
	height: 100%;
	background: #0000FF;
	border-radius: 10px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
}

#sectionOneButton {
	margin-top: 29px;
}

.buttonPrimary {
	width: 100px;
	background: #0000FF;
	height: 34px;
	box-sizing: border-box;
	border-radius: 6px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
}

.buttonTerciary {
	width: 100px;
	height: 34px;
	border: 1px solid #323232;
	box-sizing: border-box;
	border-radius: 6px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: -0.015em;
	color: #323232;
}

#menu {
	max-width: 890px;
	width: 100%;
	height: 100px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -50px;
	display: flex;
	padding-inline: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menuSection {
	width: 33.3%;
	height: 51px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	display: flex;
	align-items: center;
	padding-inline: 15px;
	margin: auto;
}

.menuSection a {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}

#menuTutorial {
	border-inline: 1px solid #C8C8C8;
}

.menuSection img {
	margin-right: 17px;
}

.header {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 77px;
	letter-spacing: -0.015em;
	color: #0000FF;
}

.description {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.015em;
	color: #646464;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sectionThree {
	height: 609px;
}

#flow {
	width: 50%;
	height: 359px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 0px 20px 20px 0px;
	text-align: right;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	z-index: 1;
	padding-right: 50px;
}

#flowHeader {
	margin-top: auto;
}

#flowDescription {
	margin-top: 4px;
}

#flowButton {
	width: 160px;
	margin-top: 30px;
	margin-bottom: auto;
}

#map {
	width: 916px;
	height: 609px;
	border-radius: 20px;
	background: url("../assets/website/screenshot.png") no-repeat;
	background-size: cover;
	margin-right: auto;
	position: relative;
	left: -80px;
}
