#mapView {
	margin-top: 22px;
}

#mapSidebar {
	width: 300px;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 32px;
}

#mapSelector {
	width: 100%;
	height: 48px;
	background: #E1E1E1;
	border-radius: 10px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	box-shadow: -4px 4px 20px #E1E1E1;
}

.mapSelectorEntry, .mapSelectorEntryActive {
	width: 100%;
	height: auto;
	margin: 4px 4px 4px 4px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.25s;
}

.mapSelectorEntryActive {
	background: #0000FF;
}

.mapSelectorEntry {
	background: #E1E1E1;
	cursor: pointer;
}

.mapSelectorEntry:hover {
	background: #CCCCFF;
}

.mapSelectorEntry:active {
	background: #6666FF;
	transition: background 0s;
}

.textbox {
	flex: auto;
	height: 44px;
	border: 1px solid #646464;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.48))
		drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.12));
	border-radius: 10px;
	margin-top: 14px;
	margin-right: auto;
	display: flex;
	background: white;
}

.textboxText {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.12px;
	color: #646464;
	border: none;
	flex: auto;
	margin-right: 8px;
	outline: none;
}

.textboxIcon {
	width: max-content;
	padding-left: 11px;
	padding-right: 8px;
	object-fit: none;
}

#mapContainer {
	flex: auto;
	height: auto;
	margin-left: 22px;
	filter: drop-shadow(-4px 4px 6px #E1E1E1);
	border-radius: 20px;
	display: flex;
	overflow: hidden;
}

#map {
	flex: auto;
	height: auto;
}

.text {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 32px;
	align-items: center;
	color: #0000FF;
	margin-top: 14px;
}

#overlays {
	width: auto;
	background: #FFFFFF;
	box-shadow: -4px 4px 20px #E1E1E1;
	border-radius: 10px;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	padding: 11px 16px 11px 16px;
}

.overlay {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 2;
	color: #646464;
}

label {
	cursor: pointer;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"]+span:before {
	font: 14pt FontAwesome;
	content: '\00f096';
	display: inline-block;
	width: 14pt;
	padding: 2px 0 0 3px;
	margin-right: 8px;
}

input[type="checkbox"]:checked+span:before {
	content: '\00f046';
	color: #0000FF;
}

.statistics {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	box-shadow: -4px 4px 20px #E1E1E1;
	border-radius: 10px;
	margin-top: 16px;
	display: flex;
	align-items: center;
}

.statisticsTitle {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #646464;
	margin-left: 16px;
}

.statisticsNumber {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #646464;
	margin-left: auto;
	margin-right: 16px;
}

#casesTotalNumber {
	color: #FF5500;
}

#casesNewNumber {
	color: #FFA466;
}

#casesRecoveredNumber {
	color: #0000FF;
}

#casesDeathsNumber {
	color: #6666FF;
}

#legendBar {
	width: 100%;
	height: 24px;
	background: linear-gradient(270deg, #FFA466 0%,
		rgba(255, 255, 255, 0) 100%), #0000FF;
		box-shadow: -4px 4px 4px #E1E1E1;
		border-radius: 10px;
		margin-top: 13px;
		display: flex;
		align-items: center;
	}

#legendMin {
	margin-left: 11px;
}

#legendMax {
	margin-left: auto;
	margin-right: 11px;
}

#legendText {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #646464;
	display: flex;
}

#legendMinText {
	margin-left: 4px;
}

#legendMaxText {
	margin-left: auto;
	margin-right: 4px;
}

#timeline {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	outline: none;
	margin-top: 20px;
	background: #E1E1E1;
	box-shadow: 0px 3px 4px #E1E1E1;
	border-radius: 10px;
}

#timeline::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 8.33%;
	height: 25px;
	cursor: pointer;
	background: #0000FF;
	box-shadow: 0px 3px 4px #CCCCFF;
	border-radius: 10px;
}

#timeline::-moz-range-thumb {
	appearance: none;
	width: 8.33%;
	height: 25px;
	background: #0000FF;
	cursor: pointer;
	box-shadow: 0px 3px 4px #CCCCFF;
	border-radius: 10px;
	border: none;
}

#timelineDescription {
	display: flex;
	margin-bottom: 11px;
}

.time {
	width: 8.33%;
	margin-left: 11px;
	margin-right: 11px;
}

.month {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.015em;
	color: #323232;
}

.year {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.015em;
	color: #323232;
}

.mapButton {
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: -2px 2px 5px rgba(50, 50, 50, 0.5);
	border-radius: 10px;
	margin-top: 16px;
	cursor: pointer;
	pointer-events: auto;
}

.mapButtonLayers {
	background: #FFFFFF url("../assets/website/layers.svg") no-repeat;
	background-position: center;
}

.mapButtonSettings {
	background: #FFFFFF url("../assets/website/settings.svg") no-repeat;
	background-position: center;
}

.mapboxgl-ctrl-top-right {
	display: flex;
	flex-direction: column;
}

.mapboxgl-ctrl-group {
	background: none !important;
	box-shadow: none !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
	margin-top: 20px;
	margin-right: 20px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-fullscreen {
	width: 50px;
	height: 50px;
	background: #FFFFFF !important;
	box-shadow: -2px 2px 5px rgba(50, 50, 50, 0.5) !important;
	border-radius: 10px !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon {
	background: url("../assets/website/fullscreen.svg") no-repeat;
	background-position: center;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-shrink {
	width: 50px;
	height: 50px;
	background: #FFFFFF !important;
	box-shadow: -2px 2px 5px rgba(50, 50, 50, 0.5) !important;
	border-radius: 10px !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-shrink .mapboxgl-ctrl-icon {
	background: url("../assets/website/shrink.svg") no-repeat;
	background-position: center;
}

.mapboxgl-ctrl-geocoder {
	width: 400px;
	height: 50px;
	margin-left: 20px !important;
	margin-top: 20px !important;
	max-width: none;
	background: #FFFFFF;
	box-shadow: -2px 2px 5px rgba(100, 100, 100, 0.5);
	border-radius: 10px;
}

.mapboxgl-ctrl-geocoder--icon-search {
	display: none;
}

.mapboxgl-ctrl-geocoder--input {
	height: 100%;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.015em;
	color: #C8C8C8;
	padding-left: 22px;
}

.mapboxgl-ctrl-geocoder--input:focus {
	outline: none;
}

.mapboxgl-ctrl-geocoder .suggestions {
	border-radius: 10px;
	color: #1E1E1E;
	font-family: Lato;
	font-size: 16px;
	box-shadow: -2px 2px 5px rgba(100, 100, 100, 0.5);
}

.mapboxgl-ctrl-geocoder--suggestion-address {
	font-size: 14px;
}

.mapboxgl-ctrl-geocoder--suggestion {
	margin-left: 10px;
}

.mapboxgl-ctrl-geocoder--icon {
	margin-top: 55% !important;
}

#footer {
	margin-top: 52px;
}
