.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	color: #3E3E3E;
}

#sectionOne {
	background: linear-gradient(264.85deg, #FF5500 28.54%, rgba(255, 255, 255, 0) 86.88%), #6666FF;
	width: 100%;
	height: 400px;
	text-align: center;
}

.sectionOne {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	width: 700px;
}

#sectionOneTitle {
	margin-top: auto;
	font-size: 48px;
}

#sectionOneDescription {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	margin-top: 12px;
	margin-bottom: auto;
}

#sectionOneDescription a {
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #323232;
}

#faq {
	width: 47%;
	height: 154px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 0px 20px 20px 0px;
	text-align: right;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	padding-right: 30px;
	box-sizing: border-box;
	margin-right: 80px;
}

#faqHeader {
	margin-top: auto;
}

#faqDescription {
	margin-bottom: auto;
}

#faqText {
	width: 50%;
	max-width: 520px;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
	margin-right: auto;
}

.sectionThreeContainer {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.015em;
	color: #323232;
}

.sectionThreeContainer + .sectionThreeContainer {
	margin-top: 72px;
}

.sectionThreeContainerTitle {
	text-align: right;
	width: 20%;
}

.sectionThreeCategory {
	width: 640px;
	background: #FAFAFA;
	box-shadow: -4px 4px 20px #E5E5E5;
	border-radius: 20px;
	margin-left: 42px;
	padding-inline: 36px;
	padding-top: 25px;
	padding-bottom: 42px;
	box-sizing: border-box;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #646464;
}

.questionTitle {
	font-weight: bold;
	margin-bottom: 8px;
}

.sectionThreeCategory hr {
	border: 1px solid #C8C8C8;
	margin-block: 18px;
	margin-inline: 50px;
}
